:root.theme-light {
  --background-image: url("../images/cover-image-light.png");
  --background-color: rgb(248 237 242);
  --accent-color: rgb(255, 141, 203);
  --text-color: rgb(53, 52, 48);
  --title-color: rgb(255, 194, 230);
  --decor-color: rgb(53, 52, 48);
  --rec-color: transparent;
  --text-text-color: rgb(53, 52, 48);
  .rec {
    display: none;
  }
  .rec::after {
    display: none;
  }
  .header__theme-menu-list {
    margin-block-start: 60px;
  }
  @media (min-width: 768px) {
    .header__theme-menu-list {
      margin-block-start: 170px;
    }
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --background-image: url("../images/cover-image-light.png");
    --background-color: rgb(248 237 242);
    --accent-color: rgb(255, 141, 203);
    --text-color: rgb(53, 52, 48);
    --title-color: rgb(255, 194, 230);
    --decor-color: rgb(53, 52, 48);
    --rec-color: transparent;
    --text-text-color: rgb(53, 52, 48);
  }
  .rec {
    display: none;
  }
  .rec::after {
    display: none;
  }
  .header__theme-menu-list {
    margin-block-start: 60px;
  }
  @media (min-width: 768px) {
    .header__theme-menu-list {
      margin-block-start: 170px;
    }
  }
}
