.rec {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--rec-color);
  margin-inline-end: 30px;
}
.rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--rec-color);
  box-shadow: 0 0 4px 2px var(--rec-color);
  position: absolute;
  z-index: -1;
  transform: translateY(90%) translateX(12px);
}
.block-with-corners {
  position: relative;
  background: transparent;
}
.block-with-corners::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 0;
  width: 25px;
  height: 25px;
  background: transparent;
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
}
.block-with-corners::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 25px;
  height: 25px;
  background: transparent;
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
}
.wrapper {
  grid-row: 1/2;
  display: flex;
  position: relative;
  flex-direction: row;
  gap: 5px;
  justify-content: end;
  width: 100%;
}
.header {
  display: grid;
  block-size: 100vh;
  min-block-size: 668px;
  min-inline-size: 355px;
  padding-top: 10px;
  padding-bottom: 10px;
  align-self: center;
  grid-template-rows: 1fr min-content 1fr;
}
.footer {
  display: grid;
  block-size: 100vh;
  min-block-size: 668px;
  min-inline-size: 355px;
  position: relative;
  grid-template-rows: repeat(3, auto);
  letter-spacing: -2px;
  margin-block-start: 40px;
  align-content: center;
}
.desktop {
  grid-row: 1/2;
}
.header__theme-menu-list {
  margin-block-start: 40px;
  display: grid;
  justify-self: end;
  gap: 10px;
  font-size: 18px;
}

.theme-light .header__theme-menu-list {
  margin-block-start: 65px;
}
.header__theme-menu-button {
  background-color: transparent;
  border: none;
  color: var(--decor-color);
  cursor: pointer;
}
.header__theme-menu-button {
  position: relative;
  z-index: 1;
}
.header__theme-menu-button::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid var(--decor-color);
  opacity: 0;
  pointer-events: none;
}
.header__theme-menu-button:hover::after {
  opacity: 0.4;
}
.header__theme-menu-button {
  min-width: 70px;
  min-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__theme-menu-button:focus {
  outline: none;
}
.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--decor-color);
  border-top: none;
  border-left: none;
  border-right: none;
}
.header__theme-menu-item {
  color: transparent;
  background-color: transparent;
}
.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--decor-color);
}
.links {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  cursor: pointer;
}
.links:hover {
  border: none;
  text-decoration: underline;
}
.links:focus {
  outline: none;
}
.links:focus-visible {
  text-decoration: none;
  border: 1px solid var(--text-color);
}
.page {
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--background-color);
}
.title {
  grid-row: 2/3;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 83%;
  letter-spacing: 0;
}
.title-text {
  background-color: var(--accent-color);
  color: var(--text-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  align-self: center;
}
h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--decor-color);
  width: 100%;
}
h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-text-color);
  background-color: var(--accent-color);
  min-inline-size: 355px;
}
h4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-text-color);
  background-color: var(--accent-color);
  min-inline-size: 355px;
}
.teg-text {
  font-weight: 400;
  font-size: 18px;
  color: var(--text-color);
  min-inline-size: 355px;
  line-height: 23.4px;
}
.teg-box {
  display: grid;
  gap: 10px;
}
.gallery-item {
  inline-size: 100%;
  box-sizing: border-box;
  margin: 0;
}
.gallery {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-self: center;
  gap: 10px;
  min-inline-size: 355px;
  grid-auto-flow: dense;
}
.title-down {
  display: grid;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  line-height: 83%;
  align-self: center;
  justify-content: center;
}
main {
  display: grid;
  margin-block-start: 40px;
  gap: 50px;
}
.block-question {
  display: grid;
  gap: 20px;
}
h4.recomendation {
  margin-block-end: 20px;
}
.picture {
  margin-block-end: 10px;
  background-color: var(--accent-color);
  color: var(--text-text-color);
}
h4.gallery {
  margin-block-start: 31px;
}

@media (min-width: 768px) {
  .header {
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    grid-template-columns: 1fr;
    min-block-size: 1024px;
  }
  body {
    padding-left: 20px;
    padding-right: 20px;
  }
  .gallery {
    grid-auto-flow: dense;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    block-size: 768px;
  }
  .header__theme-menu-list {
    margin-block-start: 145px;
  }
  .theme-light .header__theme-menu-list {
    margin-block-start: 175px;
  }
  .gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .sunset {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .cream {
    grid-column: 3/4;
    grid-row: 1/3;
  }
  .street {
    grid-column: 2/4;
    grid-row: 3/4;
  }
  .tape {
    grid-row: 2/4;
  }
  .books {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 95%;
    letter-spacing: 0px;
    margin-inline-start: -20px;
    margin-block-end: 0px;
    grid-row: 2/3;
  }
  .title-text {
    justify-self: end;
    align-self: start;
    width: 362px;
    grid-row: 3/4;
    margin-block-start: 155px;
  }
  .block-question {
    grid-template-columns: calc((100% - 20px) * 1 / 3) calc(
        (100% - 20px) * 2 / 3
      );
    grid-template-rows: repeat(auto-fit, auto);
  }
  .position {
    grid-column: 2/3;
  }
  main {
    display: grid;
    margin-block-start: 60px;
    gap: 80px;
  }
  .block-row {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, auto);
    gap: 20px;
  }
  .section__title {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .block-row-title {
    grid-row: 1/2;
    width: 136px;
  }
  .adviсe {
    grid-column: 1/2;
    grid-row: 1/7;
  }
  .recomendation-block {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .recomendation {
    grid-column: 2/3;
  }
  .footer {
    block-size: 100vh;
    min-block-size: 1024px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-inline-size: 728px;
    margin-block-start: 70px;
    letter-spacing: 0;
  }
  .desktop {
    grid-row: 1/2;
    margin-block-start: 10px;
  }
  .picture {
    margin-block-end: 20px;
  }
  .block-with-corners::before {
    top: 20px;
  }
  .block-with-corners::after {
    bottom: 20px;
  }
}
@media (min-width: 1024px) {
  .header {
    min-block-size: 768px;
  }
  .title {
    align-content: center;
  }
  .footer {
    min-block-size: 768px;
    margin-block-start: 65px;
  }
  .block-question {
    grid-template-columns: calc((100% - 30px) * 1 / 3) calc(
        (100% - 10px) * 2 / 3
      );
  }
  .block-row-title {
    grid-row: 1/-1;
    grid-column: 1/-1;
    width: 315px;
  }
  .block-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: start;
    width: 100%;
    box-sizing: border-box;
  }
  .row {
    min-width: 0;
    max-width: 315px;
    width: 100%;
  }
  .header__theme-menu-list {
    justify-self: center;
    grid-auto-flow: column;
  }
  .theme-light .header__theme-menu-list {
    margin-block-start: 0px;
  }
  .desktop {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .wrapper {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  .header__theme-menu {
    grid-row: 1/2;
    grid-column: 1/2;
    justify-self: end;
  }
  .title-text {
    width: 491px;
    margin-block-start: 105px;
  }
  .teg-text {
    min-inline-size: 315px;
  }
  h4 {
    min-inline-size: 315px;
  }
  h3 {
    min-inline-size: 100px;
  }
  .header__theme-menu-list {
    margin-block-start: 0px;
    margin-inline-end: 48px;
  }
  .gallery {
    min-block-size: 1040px;
  }
  .page {
    max-width: 1024px;
    margin: 0 auto;
  }
}
