/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.rec {
font-weight: 400;
font-size: 18px;
line-height: 25px;
color: #FF0070;
}
.rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #FF0070;
  box-shadow: 0 0 3px 3px #FF0070;
  margin-left: 8px;
  z-index: -1;
}

.cub-up {
  
  width: 25px;
  height: 25px;
  border-top: 1px solid var( --decor-color);
  border-right: 1px solid var( --decor-color);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:transparent;
}

.cub-down {
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var( --decor-color);
  border-left: 1px solid var( --decor-color); 
  justify-self:left; 
  align-self:flex-end; 


}
.wrapper {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: end;
  width: 100%; 
}
.header {
  display: grid;
  block-size: 100vh;
  min-block-size: 648px;
  min-inline-size: 355px;
  align-self:center;
  padding-bottom: 10px;`;
}

.footer {
  display: grid;
  padding-top: 10px;
  padding-bottom: 10px;
  block-size: 100vh;
  min-block-size: 648px;
  /* min-inline-size: 375px; */
  overflow-x: hidden;

  

}
.header__theme-menu-list {
  display: grid;
  justify-self:end;
  gap: 10px;
  
}
.header__theme-menu-button {
  background-color:transparent;
  border: none;
  color: var(--decor-color);
}
.header__theme-menu-button:hover {
  border:1px solid var(--decor-color);
}
.header__theme-menu-button:focus{
border-top: none;
border-left: none;
border-right: none;
}
.header__theme-menu-item{
  color:transparent;
  background-color:transparent;
  
}
.links {
text-decoration: none;
font-weight: 400;
font-size: 18px;
line-height: 23.4px;
color: var(--text-color);
text-shadow: 2px 2px 0 var(--accent-color);
}
.links:hover {
  border:none;
  text-decoration: underline;
}
.links:focus {
  text-decoration:none;
  border: 1px solid var(--text-color);
}
.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
background-image:var(--background-image);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-color:var(--background-color);
/* block-size: 100vh;
min-block-size: 668px; */
/* min-inline-size: 375px; */

}
.title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 83%;
  /* align-items: center; */
  align-self: center

}
.title-text {
  background-color: var(--accent-color);
  color: #000028;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  height: 117px;
  inline-size: 355px;
  align-self: end;

  justify-content: center;
 

}
.teg-var {

font-weight: 700;
font-size: 18px;
line-height: 23.4px;
color: #000028;
background-color:var(--accent-color);
min-inline-size: 355px;
margin-block-end: 10px;

}
.teg-var_var {
font-weight: 400;
font-size: 18px;
line-height: 23.4px;
color: #000028;
background-color:var(--accent-color);
width: 355px;
margin-block-end: 10px;

}

.teg {
font-weight: 700;
font-size: 18px;
line-height: 23.4px;
color: var(--decor-color);
width: 355px;
margin-block-end: 20px;
}

.teg-text {
font-weight: 400;
font-size: 18px;
color: var(--text-color);
width: 355px;
margin-block-end: 20px;
}

.gallery-item {
  inline-size: 100%;
  box-sizing: border-box;
  min-block-size: 375px;
  margin: 0;  
}
.gallery {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-self: center;
  gap: 10px;
  min-width: 355px;
  grid-auto-flow:dense;
    /* display: grid;
  grid-template-columns: repeat(4, 1fr) 2fr 200px;
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
  box-sizing: border-box;
  min-block-size: calc(100vh - 5em);
  padding: 0 4em 4em;
  grid-auto-flow:dense;  */

  


}
.block-question {
  margin-block-start:40px;
}
.title-down {
  display: grid;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 83%;
  align-self: center;
  justify-content: center;
}

.hidden {
inline-size: 355px;
}